.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg,#6a0dad,#9d4edd,#c77dff); */
  background-image: url('../../assets/img/front1.jpg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  padding: 20px;
}

.login-card {
  background: white;
  width: 360px;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  width: 90px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
}
label{color: #000000;}
.form-group {
  text-align: left;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 14px;
  color: #4a0072;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d6b4ff;
  outline: none;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #6a0dad;
  box-shadow: 0 0 5px #9d4edd;
}

button {
  width: 100%;
  padding: 12px;
  background: #6a0dad;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #4b007d;
}

button:disabled {
  background: #a874d9;
  cursor: not-allowed;
}

.message {
  margin-top: 15px;
  font-size: 14px;
}
/* hover effect */
.login-card {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  transition: all 0.3s ease;   /* Smooth animation */
  transform: translateY(0);
}

/* Hover Effect */
.login-card:hover {
  transform: translateY(-10px);   /* Move up */
  box-shadow: 0 10px 30px rgba(0,0,0,1.00);  /* Strong shadow */
}
