<br><br><br><br><br>

<h2 class="h2">📸 College <span style="color: rgb(72, 170, 235);">Gallery</span></h2>

<section class="gallery">
  <div 
    class="gallery-item" 
    *ngFor="let img of galleryImages" 
(click)="openImage(img.path)"
  >
    <img [src]="img.path" [alt]="img.title" />
    <div class="overlay">{{ img.title }}</div>
  </div>
</section>

<!-- FULLSCREEN POPUP -->
<div class="popup" *ngIf="selectedImage" (click)="closeImage()">
  <img [src]="selectedImage" class="popup-img" />
</div>
  
<app-footer></app-footer>